@import "virable/main_var.scss";
@import "mixins/main_mixins.scss";
@import "libre/grid.scss";
@import "libre/main_libre.scss";
@import "fonts";

:root {
  --index: calc(1vw + 1vh);
}

body {
  background-color: #000000;
  font-family: $fontBlack;
  line-height: 1.55;
}

.main-header {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url('../img/ground.png');
    width: 100%;
    height: calc($indexFontSize * 10);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    bottom: calc($indexFontSize * -4.5);
  }
  .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    &__base {
      transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
      z-index: 0;
    }
    &__middle {
      transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
      z-index: 2;
    }
    &__front {
      transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
      z-index: 2;
    }
    &__title {
      font-size: calc($indexFontSize * 2.5);
      letter-spacing: calc($indexFontSize / 2.25);
      @extend %gold-color;
    }
    &__caption {
      font-size: calc($indexFontSize / 1.175);
      letter-spacing: calc($indexFontSize / 3.5);
      margin-top: calc($indexFontSize * -.7);
      @extend %gold-color;
    }
  }
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    &__header {
      z-index: 1;
      text-transform: uppercase;
      transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
      will-change: transform;
      font-weight: 900;
    }
  }
}

.main-article {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-gold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}